version: '3.1'
services:
    web:
        build: .
        command: npm run dev
        ports:
            - 3000:3000
        env_file: ./config/dev.env
        volumes:
            - ./:/usr/src/app
            - /usr/src/app/node_modules
    web_test:
        build: .
        command: npm run test
        env_file: ./config/test.env
        volumes:
            - ./:/usr/src/app
            - /usr/src/app/node_modules
    db:
        image: postgres:12.3
        ports:
            - 5432:5432
        env_file: ./config/dev.env